.pagina-start {
    height: 100vh;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagina-start .botao {
    display: block;
    width: 100%;
    padding: 1.6rem;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.pagina-start .botao.primario {
    margin-top: 4.8rem;
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
}

.pagina-start .botao.secundario {
    color: var(--cor-texto-escuro);
}
