.pagina-autenticacao {
    min-height: 100vh;
    padding: 2.4rem 0;
    background-color: var(--cor-fundo-semi-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina-autenticacao form {
    width: 90%;
    border-radius: 0.8rem;
    padding: 1.6rem;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-escuro);
}

    .pagina-autenticacao form .titulo {
        margin-bottom: 2.4rem;
        font-size: 3.2rem;
        text-align: center;
    }

    .pagina-autenticacao form p {
        margin: 1.2rem 0;
        text-align: center;
    }

    .pagina-autenticacao form a {
        display: block;
        color: var(--cor-texto-escuro);
        text-align: center;
    }

    .pagina-autenticacao .small-logo {
        display: block;
        width: 12rem;
        height: 12rem;
        margin: 0 auto;
    }