.pagina-contatos {
    padding: 0.8rem 0;
    background-color: var(--cor-fundo-claro);
}

.pagina-contatos .contato {
    margin-bottom: 2.4rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    align-items: center;
    color: var(--cor-texto-escuro);
    text-decoration: none;
}

    .pagina-contatos .contato.impar {
        background-color: #FAF9FE;
    }

    .pagina-contatos .contato .foto {
        width: 6rem;
        width: 6rem;
        margin-right: 1.6rem;
        border-radius: 100%;
    }

    .pagina-contatos .contato .informacoes {
        flex: 1;
    }
    
    .pagina-contatos .contato .nome {
        margin-bottom: 0.4rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .pagina-contatos .contato .descricao {
        font-size: 1.4rem;
        opacity: 0.6;
    }
