:root {
    font-size: 60%;

    --cor-principal: #0EAADE;
    --cor-principal-escuro: #1A87AB;
    --cor-texto-claro: #FEFEFE;
    --cor-texto-escuro: #333333;
    --cor-fundo-claro: #FFFFFF;
    --cor-fundo-semi-escuro: #F5F5F5;
    --cor-positivo: #3FFF0F;
    --cor-negativo: #FF5555;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo-claro);
}

body,
input,
button,
textarea,
a {
    font: 500 1.6rem 'Montserrat', sans-serif;
    color: var(--cor-texto-claro);
}

button {
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: color background-color opacity 0.5s 0.5s;
}

form {
    width: 100%;
}

.input-field label {
    margin-bottom: 0.8rem;
    display: block;
    font-size: 1.8rem;
}

.input-field input {
    width: 100%;
    height: 4.8rem;
    margin-bottom: 1.2rem;
    border: 0.1rem solid #999;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    color: var(--cor-texto-escuro);
}

.botao {
    display: block;
    width: 100%;
    margin: 1.6rem 0;
    padding: 1.6rem;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
}

.botao.disabled {
    background-color: #999;
}

@media (min-width: 800px) {
    body {
        background-color: #EEE;
    }

    #root {
        display: relative;
        background-color: var(--cor-fundo-claro);
        margin: 0 auto;
        width: 400px;
    }

    .modal {
        width: calc(400px - 3.2rem) !important;
    }

    .pagina-meu-dinheiro .botao-principal {
        width: 400px !important;
    }

    .pagina-ze .fundo {
        width: 400px !important;
    }
}
